<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="font-family: 'Poiret One', cursive;padding-left:30px;">
    {{ title }}
  </h1>
</div>
<!-- <hr> -->
<div class="container">
  <!-- <button type="button" class="btn btn-outline-info btn-sm add" style="margin:10px 30px 0px 0px;" (click)="toggle()">Add Task</button>
  <button type="button" class="btn btn-outline-info btn-sm" style="margin-top:10px">View Task</button> -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/add-project" routerLinkActive="active"><b>Add Project</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/add-task" routerLinkActive="active"><b>Add Task</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/add-user"routerLinkActive="active"><b>Add User</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/view-task" routerLinkActive="active"><b>View Task</b></a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
