.form-control {
    width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid rgb(37, 120, 214);
	background: transparent;
    margin-bottom: 5px;
    font: 16px Arial, Helvetica, sans-serif;
    font-size: 15px;
	height: 30px;
}
.modal-header{
	font-family: 'Molengo', Georgia, Times, serif;
	background-color: cadetblue;
	color: white;
}

label {
    font-family: 'Poiret One', cursive;
    font-weight: 800;
    font-size: 12px;
    color: teal;
}

th {
    font-size: .8rem;
    font-weight: 800;
    font-family: 'Poiret One', cursive;
    line-height: 1;
    color: teal;
    text-align: left;
    background-color: #fff;
}
td {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: .55rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.btn-sm {
    padding: .10rem .4rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
