<div class="container" style="margin-top:20px;">
  
  <div class="outer-div">
    <form id="add-project-form" [formGroup]="addProjectForm" (ngSubmit)="onAdd()" novalidate>
  
      <div class="row">
        <div class="col-md-2">
          <label>Project:</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" formControlName="project" id="project">
        </div>
      </div>
  
      <div class="row" style="margin-top:10px;">
        <div class="col-md-2">
          <label>Priority:</label>
        </div>
        <div class="col-md-6">
          <input type="range" class="custom-range" id="priority" min="0" max="30" step="1" formControlName="priority">
        </div>
      </div>
  
      <div class="row" style="margin-top:10px;">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-2">
          <input type="checkbox" (change)="onSelect($event)" class="form-check-input" id="setDate"
            formControlName="setDate">
          <label class="form-check-label" for="setDate">Start & End Date:</label>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" formControlName="startDate" id="startDate" placeholder="Start Date">
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" formControlName="endDate" id="endDate" placeholder="End Date">
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-2">
          <label>Manager:</label>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="manager" id="manager" required>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-info btn-sm" id="search" data-toggle="modal"
            data-target="#UserModal">SEARCH</button>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-2">
        </div>
        <!-- <div class="col-md-5">
        </div> -->
        <div class="col-md-4">
          <button type="submit" class="btn btn-info btn-sm" id="add"  
            [disabled]="!(addProjectForm.get('manager').value) || !(addProjectForm.valid)" *ngIf="!editable">ADD</button>
          <button type="button" class="btn btn-info btn-sm" id="add"
            [disabled]="!(addProjectForm.get('manager').value) || !(addProjectForm.valid)" *ngIf="editable"
            (click)="onEditSave()">UPDATE</button>
          <button type="button" class="btn btn-dark btn-sm" id="reset" style="margin-left: 5px;" (click)="resetForm()" *ngIf="!editable">RESET</button>
          <button type="button" class="btn btn-danger btn-sm" id="reset" style="margin-left: 5px;" (click)="cancelEdit()" *ngIf="editable">CANCEL</button>
        </div>
      </div>
  
      <div class="row">
        <p style="color:red; margin-left: 1%;" *ngIf="error">{{error}}</p>
      </div>
  
    <hr>
    </form>
  
    <div class="row">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText"
          (ngModelChange)="onSearch(searchText)">
      </div>
    <!-- </div>
    <div class="row" style="margin-top:10px;"> -->
      <div class="col-md-1">
        <label>OrderBy:</label>
      </div>
      <div class="col-md-7">
        <button type="button" class="btn btn-outline-info btn-sm" style="margin-right: 5px;" id="sortBystartDate" (click)="sort('startDate')">Start
          Date</button>
        <button type="button" class="btn btn-outline-info btn-sm" style="margin-right: 5px;" id="sortByendDate" (click)="sort('endDate')">End Date</button>
        <button type="button" class="btn btn-outline-info btn-sm" style="margin-right: 5px;" id="sortByPriority" (click)="sort('Priority')">Priority</button>
        <button type="button" class="btn btn-outline-info btn-sm" style="margin-right: 5px;" id="sortByCompleted" (click)="sort('Completed')">Completed</button>
        <button type="button" class="btn btn-outline-dark btn-sm" style="margin-right: 5px;" id="clearFilter" (click)="clearFilter()">Clear Filter</button>
      </div>
    </div>
  
    <div *ngFor="let project of filteredProjects">
      <div class="row" id="projects-list">
        <div class="col-7 col-sm-7 col-md-7 col-lg-7">
          <ul class="list-group">
            <li class="list-group-item">Project: {{project.project | titlecase}}</li>
            <li class="list-group-item">Start Date: {{project.startDate | date:'MM/dd/yyyy'}} &nbsp; End Date:
              {{project.endDate | date:'MM/dd/yyyy'}}</li>
            <li class="list-group-item">Priority: {{project.priority}}</li>
            <li class="list-group-item">No. of Tasks: {{project.tasks}}</li>
            <li class="list-group-item">Completed: {{project.completed}}</li>
          </ul>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="btn btn-info btn-sm" id="edit-btn" (click)="onEdit(project.projectId)"
            [disabled]="editable && project.projectId == editId">Update</button>
          <br>
          <br>
          <button type="button" class="btn btn-danger btn-sm" id="delete-btn" (click)="suspendProject(project)"
            [disabled]="editable && project.projectId == editId">Suspend</button>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-8 col-sm-8 col-md-8 col-lg-8">
          <hr class="ruler">
        </div>
      </div> -->
      <hr>
    </div>
  
  </div>
  
  <!-- User Modal -->
  <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="UserModalLabel">Select the user to be assigned as Project Manager :</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchUser">
          <br>
          <br>
          <div class="input-group mb-3" *ngFor="let user of usersList | filterUser : searchUser">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" value="{{user.userId }} - {{user.firstName}} {{user.lastName}}"
                  [(ngModel)]="selectedUser">
              </div>
            </div>
            &nbsp; {{user.employeeId }} - {{user.firstName | titlecase}} {{user.lastName | titlecase}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="saveUser()" [disabled]="!selectedUser">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
